absl-py==1.4.0
adjustText==0.7.3
astunparse==1.6.3
Bottleneck @ file:///home/conda/feedstock_root/build_artifacts/bottleneck_1678327106167/work
cachetools==5.3.0
certifi==2022.12.7
charset-normalizer==3.1.0
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
deepchem @ file:///home/conda/feedstock_root/build_artifacts/deepchem_1669993505029/work
flatbuffers==23.3.3
gast==0.4.0
google-auth==2.17.1
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googlemaps==4.4.5
greenlet @ file:///croot/greenlet_1670513226095/work
grpcio==1.53.0
h5py==3.8.0
idna==3.4
importlib-metadata==6.1.0
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1663332044897/work
keras==2.11.0
kiwisolver @ file:///croot/kiwisolver_1672387140495/work
libclang==16.0.0
Markdown==3.4.3
MarkupSafe==2.1.2
matplotlib @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-suite_1632416634429/work
numexpr @ file:///croot/numexpr_1668713893690/work
numpy==1.24.2
numpyencoder==0.3.0
oauthlib==3.2.2
opt-einsum==3.3.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1673482170163/work
pandas==1.5.3
Pillow==9.4.0
plotly==4.14.3
protobuf==3.19.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.23.0
Pyomo==5.7.3
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1680088766131/work
PyUtilib==6.0.0
reportlab @ file:///home/conda/feedstock_root/build_artifacts/reportlab_1671121836222/work
requests==2.28.2
requests-oauthlib==1.3.1
retrying==1.3.3
rsa==4.9
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/scikit-learn_1640464148960/work
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy_1653073867187/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
SQLAlchemy @ file:///home/conda/feedstock_root/build_artifacts/sqlalchemy_1680296605256/work
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-io-gcs-filesystem==0.32.0
termcolor==2.2.0
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1643647933166/work
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1666788592778/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1678559861143/work
urllib3==1.26.15
Werkzeug==2.2.3
wrapt==1.15.0
zipp==3.15.0
